{{ $baseURL := urls.Parse $.Site.Params.Baseurl -}}

<nav class="td-navbar td-navbar-collapse navbar-expand-xl"
      {{- if eq (.Param "ui.navbar_theme") "dark" }} data-bs-theme="dark" {{- end }}>
<div class="td-navbar-container container-fluid flex-row flex-nowrap align-items-center">
  <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
    {{- /**/ -}}
    <span class="navbar-brand__logo navbar-logo">
      {{- if ne .Site.Params.ui.navbar_logo false -}}
        {{ with resources.Get "icons/logo.svg" -}}
          {{ ( . | minify).Content | safeHTML -}}
        {{ end -}}
      {{ end -}}
    </span>
    {{- /**/ -}}
  </a>
  <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#main_navbar"
    aria-controls="main_navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse td-navbar__main" id="main_navbar">
    <ul class="navbar-nav ms-auto">
      {{ $p := . -}}
      {{ range .Site.Menus.main -}}
      <li class="nav-item">
        {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) -}}
        {{ $href := "" -}}
        {{ with .Page -}}
          {{ $active = or $active ( $.IsDescendant .) -}}
          {{ $href = .RelPermalink -}}
        {{ else -}}
          {{ $href = .URL | relLangURL -}}
        {{ end -}}
        {{ $isExternal := ne $baseURL.Host (urls.Parse .URL).Host -}}
        <a {{/**/ -}}
          class="nav-link {{- if $active }} active {{- end }}" {{/**/ -}}
          href="{{ $href }}"
          {{- if $isExternal }} target="_blank" rel="noopener" {{- end -}}
        >
            {{- .Pre -}}
            <span>{{ .Name }}</span>
            {{- .Post -}}
        </a>
      </li>
      {{ end -}}
      {{ if .Site.Params.versions -}}
      <li class="nav-item td-navbar__version-menu">
        {{ partial "navbar-version-selector.html" . -}}
      </li>
      {{ end -}}
      {{ if (gt (len .Site.Home.Translations) 0) -}}
      <li class="nav-item td-navbar__lang-menu">
        {{ partial "navbar-lang-selector.html" . -}}
      </li>
      {{ end -}}
      {{- $darkMode := partialCached "dark-mode-config.html" "dark-mode-global" -}}
      {{ if $darkMode.showMenu -}}
      <li class="nav-item td-navbar__light-dark-menu">
        {{ partial "theme-toggler" . }}
      </li>
      {{ end -}}
    </ul>
    <div class="td-navbar__search d-none d-md-block">
      {{ partial "search-input.html" . }}
    </div>
  </div>
</div>
</nav>
